@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Raleway:wght@100&display=swap');

$primary-font-family : "Open Sans", "sans-serif";
$secondary-font-family : 'Raleway', sans-serif;
$tertiary-font-family : 'Poppins', 'sans-serif';
$primary-color : #272829;
$secondary-color : #149ddd;
$third-color : #122f57;
$fourth-color : #173b6c;
$fifth-color : #050d18;
$sixth-color : #1f5297;
$hover-color : #37b3ed;
$white-color : #fff;
$color-green : #18d26e;