    <div class="d-flex flex-column">
        <div class="profile">
            <img src="includes/images/profile.jpg" alt="Profile Image" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="index.php">Christian Kyle Valdez</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="https://www.facebook.com/christiankv0927" class="facebook" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook"></i></i></a>
                <a href="https://www.instagram.com/christiankylevaldez27/" class="instagram" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/CKV0927" class="twitter" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/christian-kyle-valdez-039572209/" class="linkedin" target="_blank" rel="noreferrer noopener"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/CKVGGWP" class="github" target="_blank" rel="noreferrer noopener"><i class="fab fa-github"></i></a>
            </div>
        </div>

        <!-- Start of Nav -->

        <nav class="nav-menu">
            <li class="active"><a href="index.html#hero"><i class="bx bx-home"></i><span>Home</span></a></li>
            <li><a href="index.html#about"><i class="bx bx-user"></i><span>About</span></a></li>
            <li><a href="index.html#skills"><i class="bx bx-network-chart"></i><span>Tools and Technologies</span></a></li>
            <li><a href="index.html#resume"><i class="bx bx-file"></i><span>Resume</span></a></li>
            <li><a href="index.html#portfolio"><i class="bx bx-book-content"></i><span>Projects and Certificates</span></a></li>
            <li><a href="index.html#contact"><i class="bx bx-envelope"></i><span>Contact Me</span></a></li>
        </nav>

        <!-- End of Nav -->

    </div>